body {
  padding-top: 5rem;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: left;

    background-color: #800080;
    background-image: linear-gradient(141deg, #9fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
    color: white;
    opacity: 0.95;}



/* .carousel-item {
  width: 500px;
  height: 600px;
} */

body, html {
  height: 100%;
}

.bg {
  /* The image used */
  background-image: url("./images/rings.jpg");

  /* Full height */
  height: 100%;
  width: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-img {
  /* The image used */
  background-image: url("rings.jpg");

  min-height: 50px;
/*
  Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  /* Needed to position the navbar */
  position: relative;
}

/* Position the navbar container inside the image */
.container {
  position: absolute;
  margin: 50px;
  width: auto;
}

/* The navbar */
.topnav {
  overflow: hidden;
  background-color: #333;
}

/* Navbar links */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

."btn-primary" {
    height:200px;
    width:200px;
}


.nav-item a{
    font-family: arial !important;
}

.nav-item a{
  color: black;
  font-weight: bold;
  font-size: 15px;
  }


.button
{
    font-size: 13px;
    color:green;
}
