body {
  padding-top: 5rem;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: left;

    background-color: #800080;
    background-image: linear-gradient(141deg, #9fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
    color: white;
    opacity: 0.95;}

/* .carousel-item {
  width: 500px;
  height: 600px;
} */

body, html {
  height: 100%;
}

.bg {
  /* The image used */
  background-image: url("./images/rings.jpg");

  /* Full height */
  height: 100%;
  width: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}



."btn-primary" {
    height:200px;
    width:200px;
}

.nav-item a{
    font-family: Verdana !important;
}

.button
{
    font-size: 13px;
    color:green;
}
